AWS_REGION = ""

AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""

AWS_ACCOUNT_ID = ""
BATCH_ROLE_ARN = ""

COGNITO_BASE_URL = ""
COGNITO_GENERAL_FORM_ID = ""
COGNITO_SUPPLEMENTAL_FORM_ID = ""
COGNITO_TOKEN = ""